header.header              
  nav.navbar.navbar-expand-lg.navbar-light.bg-light.navbar-dark.bg-dark.p-0.h-100
    .container
      a.navbar-brand.p-2(href='#')
        img(src='/src/images/logo.png' width='60' height='60' alt='')
      button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
        span.navbar-toggler-icon
      .collapse.navbar-collapse.p-3.p-lg-0(id="navbarSupportedContent")
        ul.navbar-nav.m-auto.text-center.p-5.p-lg-0
          li.nav-item.active
            a.nav-link.p-3.p-lg-1(href='#')
              | о театре
              span.sr-only (current)
          li.nav-item
            a.nav-link.p-3.p-lg-1(href='#') 
              | афиша          
          li.nav-item
            a.nav-link.p-3.p-lg-1(href='#') 
              | репертуар
          li.nav-item
            a.nav-link.p-3.p-lg-1(href='#') 
              | труппа театра
          li.nav-item
            a.nav-link.p-3.p-lg-1(href='#') 
              | отзывы
          li.nav-item
            a.nav-link.p-3.p-lg-1(href='#') 
              | контакты
          li.nav-item
            a.nav-link.p-3.p-lg-1(href='#') 
              | заказать звонок          
        .socilas
          include socials.pug