ul.social-network.social-circle
  li
    a.icoFacebook(href='#' title='Facebook')
      i.fa.fa-facebook
  li
    a.icoTwitter(href='#' title='Instagram')
      i.fa.fa-instagram
  li
    a.icoGoogle(href='#' title='Vkontakte')
      i.fa.fa-vk
  li
    a.icoLinkedin(href='#' title='YouTube')
      i.fa.fa-youtube